
.character-screen-container .right-panel
{
    left: 0;
    top: 0;
	width: 100%;
	height: 100%;
	position: static;
    /* works */
}

/* HEADER */
.character-screen-container .right-panel .header-module
{
	height: 3.5rem;
	position: relative; /* I wish I could put static here. But otherwise the child elements dont know what 100% height means*/
    outline: 2px solid rgb(205, 160, 226);
    /* works */
}

    .character-screen-container .right-panel .header-module .buttons-container
    {
        right: 0;
        height: 100%;
        width: 4.8rem;
        position: absolute;
    }

    .character-screen-container .right-panel .header-module .buttons-container .l-button.is-close
    {
        right: 0;
        top: 0.2rem;
        width: 4.5rem;
        height: 3.1rem;
        position: absolute;
    }

/* SECONDARY - TOP */
.character-screen-container .right-panel .secondary-container
{
	width: 100%;
	height: 45.3rem;
	position: relative;
    outline: 2px solid green;
/* 	overflow: hidden;
 */}

/* PRIMARY - BOTTOM */
.character-screen-container .right-panel .primary-container
{
    /*top: auto;*/
	width: 100%;
	height: 29.3rem;
	position: relative;
    outline: 2px solid rgb(205, 160, 226);
}

.character-screen-container .right-panel .roster-container
{
    /* works */
    outline: 5px solid rgb(243, 128, 74);
    height: auto;
	width: 100%;

    position: relative;
    display: inline-block
}

    .character-screen-container .roster-container .l-list-container
    {
        outline: 4px solid rgb(46, 105, 182);
        position: relative;
        width: 100%;
        display: inline-block;
    }

        .character-screen-container .right-panel .roster-container .l-list-container .scroll-container
        {
            margin-bottom: 0.4rem;
        }

    .character-screen-container .roster-container .header-bar
    {
        height: 3.5rem;
        position: relative;
    }

        .character-screen-container .right-panel .name-container
        {
            top: 0;
            left: 0.2rem;
            height: 100%;
            position: absolute;
            outline: 3px solid red;
        }

        .character-screen-container .roster-container .roster-count-container
        {
            right: 0;
            width: 10.0rem;
            height: 100%;
            position: absolute;
            outline: 3px solid red;
        }

            .character-screen-container .roster-container .roster-count-container img
            {
                outline: 1px solid rgb(122, 20, 63);
                width: auto;
                top: 10%;
                height: 80%;
                position: relative;
                margin: auto;
            }

            .character-screen-container .roster-container .roster-count-container .label
            {
                left: 3.5rem;
                bottom: 0;
                width: 7.6rem;
                height: 100%;
                position: absolute;
                margin: auto;

                line-height: 3.0rem;
                text-align: left;
            }
